In [1]:
import pandas as pd
from Models import GNB

train_filepath = 'data/iris_train_set.csv'
test_filepath = 'data/iris_test_set.csv'

train_data = pd.read_csv(train_filepath)
test_data = pd.read_csv(test_filepath)

In [2]:
ytrain = train_data['iris_type']
Xtrain = train_data.drop(['iris_type'], axis=1)
ytest = test_data['iris_type']
Xtest = test_data.drop(['iris_type'], axis=1)

print(Xtrain.shape)
print(ytrain.shape)
print(Xtest.shape)
print(ytest.shape)

(120, 4)
(120,)
(30, 4)
(30,)

In [3]:
from preprocessing import Scaler

In [4]:
scaler1 = Scaler('minmax').fit_transform(Xtrain)
scaler1

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0             0.500000          0.083333           0.677966          0.583333
1             0.617647          0.333333           0.779661          0.833333
2             1.000000          0.416667           0.864407          0.916667
3             0.529412          0.416667           0.610169          0.541667
4             0.735294          0.416667           0.762712          0.833333
..                 ...               ...                ...               ...
115           0.588235          0.541667           0.847458          1.000000
116           0.705882          0.541667           0.796610          1.000000
117           0.235294          0.750000           0.101695          0.041667
118           0.176471          0.458333           0.084746          0.041667
119           0.088235          0.666667           0.000000          0.041667

[120 rows x 4 columns]

In [5]:
scaler2 = Scaler('t-distribution').fit_transform(Xtrain)
scaler2

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0             0.237639         -1.949995           0.736007          0.411554
1             0.733580         -0.576221           1.077454          1.195467
2             2.345389         -0.118297           1.361993          1.456772
3             0.361624         -0.118297           0.508376          0.280902
4             1.229521         -0.118297           1.020546          1.195467
..                 ...               ...                ...               ...
115           0.609594          0.568589           1.305085          1.718076
116           1.105536          0.568589           1.134362          1.718076
117          -0.878229          1.713400          -1.198857         -1.286924
118          -1.126200          0.110665          -1.255765         -1.286924
119          -1.498156          1.255476          -1.540304         -1.286924

[120 rows x 4 columns]

In [ ]:
gnb.fit(Xtrain, ytrain)

In [ ]:
ypred = gnb.predict(Xtest)

In [ ]:
gnb.calc_accuracy(ypred, ytest)

In [ ]:
from Models import KNN
knn = KNN(3,'euclidean','t-disribution')

In [ ]:
knn.fit(Xtrain, ytrain)

In [ ]:
pred = knn.predict(Xtest)

In [ ]:
knn.calc_accuracy(ypred, ytest)

In [ ]:
from Models import KMeans
import seaborn as sns
from sklearn.datasets import make_blobs
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
centers = 5

X_train, true_labels = make_blobs(n_samples=100, centers=centers, random_state=42)
X_train = StandardScaler().fit_transform(X_train)
sns.scatterplot(x=[X[0] for X in X_train],
                y=[X[1] for X in X_train],
                hue=true_labels,
                palette="deep",
                legend=None
                )
plt.xlabel("x")
plt.ylabel("y")
plt.show()

In [ ]:
kmeans = KMeans(n_clusters=centers, init='kmeans++')
kmeans.fit(X_train)
# View results
class_centers, classification = kmeans.evaluate()
sns.scatterplot(x=[X[0] for X in X_train],
                y=[X[1] for X in X_train],
                hue=true_labels,
                style=classification,
                palette="deep",
                legend=None
                )
plt.plot([x for x, _ in kmeans.centroids],
         [y for _, y in kmeans.centroids],
         '+',
         markersize=10,
         )
plt.show()